<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All in One Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        body {
            background-color: #F0F6FF;

        }

        h3 {
            margin-top: 20px;
            text-align: center;
        }

        .btn {
            margin: 10px auto;

        }
    </style>
</head>

<body>
    <div class="d-flex" style="background-color: rgb(72, 123, 204);">
        <button class="btn btn-dark" style="margin-left: 1580px;" type="button" onclick="whenClick()">Logout</button>
    </div>
    <div>
        <table class="table table-hover table-bordered w-25 rounded-3" style="margin: 40px auto;">
            <thead class="table-dark">
                <tr>
                    <th class=" text-center">No.</th>
                    <th class=" text-center">Title</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center">1</td>
                    <td class="text-center"><a href="/ehys-css-task-1">Ehya CSS Task - 1</a></td>
                </tr>
                <tr>
                    <td class=" text-center">2</td>
                    <td class=" text-center"><a href="/awanHoster-css-task-2">AwanHoster CSS Task - 2</a></td>
                </tr>
                <tr>
                    <td class=" text-center">3</td>
                    <td class=" text-center"><a href="/hireX-css-task-3">HireX CSS Task - 3</a></td>
                </tr>
                <tr>
                    <td class=" text-center">4</td>
                    <td class=" text-center"><a href="/dynamic-table">Dynamic Table</a></td>
                </tr>
                <tr>
                    <td class=" text-center">5</td>
                    <td class=" text-center"><a href="/kuku-cube">Kuku Cube Game</a></td>
                </tr>
                <tr>
                    <td class=" text-center">6</td>
                    <td class=" text-center"><a href="/tic-tac-toe">Tic tac toe Game</a></td>
                </tr>
                <tr>
                    <td class=" text-center">7</td>
                    <td class=" text-center"><a href="/all-events">JavaScript Event Practice</a></td>
                </tr>
                <tr>
                    <td class=" text-center">8</td>
                    <td class=" text-center"><a href="/pagination">Pagination</a></td>
                </tr>
                <tr>
                    <td class=" text-center">9</td>
                    <td class=" text-center"><a href="/attendance-report">Student Attendance Report</a></td>
                </tr>
                <tr>
                    <td class=" text-center">10</td>
                    <td class=" text-center"><a href="/result-report">Student Result Table</a></td>
                </tr>
                <tr>
                    <td class=" text-center">11</td>
                    <td class=" text-center"><a href="/rglr-search">Regular Search from DB</a></td>
                </tr>
                <tr>
                    <td class=" text-center">12</td>
                    <td class=" text-center"><a href="/filter">Filter Table</a></td>
                </tr>
                <tr>
                    <td class=" text-center">13</td>
                    <td class=" text-center"><a href="/search-by-id">Search by Id, AND & OR</a></td>
                </tr>
                <tr>
                    <td class=" text-center">14</td>
                    <td class=" text-center"><a href="/delimiter-search">Delimiter Search</a></td>
                </tr>
                <tr>
                    <td class=" text-center">15</td>
                    <td class=" text-center"><a href="/form-validation">Form Validation</a></td>
                </tr>
                <tr>
                    <td class=" text-center">16</td>
                    <td class=" text-center"><a href="/posts-fetch">Fetch API</a></td>
                </tr>
                <tr>
                    <td class=" text-center">17</td>
                    <td class=" text-center"><a href="/stepForm">CRUD with AJAX in Form</a></td>
                </tr>
                <tr>
                    <td class=" text-center">18</td>
                    <td class=" text-center"><a href="/timeZone-converter">Time Zone Converter</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        function whenClick() {
            window.location.href = "http://localhost:8080/logout";
        }
    </script>
</body>

</html>