<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awan Hoster</title>
    <link rel="stylesheet" href="/Awan_CSS_Two.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body onload="changeContant(event, 'WordPress')">
    <header class="header-bg">
        <div class="container">
            <nav class="titlebar">
                <div class="forPart">
                    <div class="logo">
                        <img class="logo-img" src="/Task - 2/assets/cloud-sunny.png" alt="logo">
                    </div>
                    <p class="logo-name"><span class="strong">Awan</span> Hoster</p>
                </div>
                <div class="titles">
                    <div class="list">
                        <li class="lists">Hosting</li>
                        <li class="lists">Integration</li>
                        <li class="lists">Pricing</li>
                        <li class="lists">Community</li>
                    </div>
                    <div class="logbtn"><button class="login">Login</button></div>
                </div>
            </nav>
        </div>
    </header>

    <section class="first-part-bg">
        <div class="container">
            <div class="first-part">
                <div class="main-title">
                    <p class="hosting">Hosting Services for Your Website</p>
                    <p class="subtt">Easily and reliably host a website for your business, organization, or project
                        while retaining complete control over your site's underlying infrastructure.</p>
                    <div class="twobtns">
                        <div class="stbtn"><button class="get">Get Started</button></div>
                        <div class="migbtn"><button class="migration">Get Migration Help</button></div>
                    </div>
                    <div class="arr"><img src="/Task - 2/assets/arrow-down.png" alt=""></div>
                </div>
                <div class="man"><img
                        src="/Task - 2/assets/portrait-confident-bearded-man-using-laptop-computer 1.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="second-part-bg">
        <div class="container">
            <div class="second-part">
                <div class="text">
                    <p>Those Who Have Experienced The Best Performance</p>
                </div>
                <div class="images">
                    <img class="comp" src="/Task - 2/assets/Telkom Indonesia Logo.png" alt="">
                    <img class="comp" src="/Task - 2/assets/Jetstar Airways Logo.png" alt="">
                    <img class="comp" src="/Task - 2/assets/Nescafe Logo.png" alt="">
                    <img class="comp" src="/Task - 2/assets/Lenovo Logo.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="third-part">
                <div class="imgpower"><img src="/Task - 2/assets/Group 3552.png" alt=""></div>
                <div class="txts">
                    <div class="boost">
                        <p>Boost the Speed of Your Website</p>
                    </div>
                    <div class="fp">
                        <div class="fp-1">
                            <p class="process">Faster Build Process</p>
                            <p class="Fbuilt">We can speed up the process of creating your website</p>
                        </div>
                        <div class="fp-2">
                            <p class="deli">Faster Delivery</p>
                            <p class="delivery">Our purchases and services can be completed quickly</p>
                        </div>
                    </div>
                    <div class="sp">
                        <div class="sp-1">
                            <p class="process">Faster Access Speed</p>
                            <p class="Fbuilt">Superb network infrastructure and hardware to support fast and stable
                                access</p>
                        </div>
                        <div class="sp-2">
                            <p class="deli">24/7 Faster Service</p>
                            <p class="delivery">We have a response time of less than 180 seconds, available 24 hours a
                                day</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="forth-part-bg">
        <div class="container">
            <div class="forth-part">
                <div class="paragra">
                    <p class="para">Host Any Website With Our Fully Managed Services</p>
                </div>
                <div class="packages">
                    <div class="packdetail">
                        <div class="subdetail">
                            <div class="combo">
                                <div class="cloudimg"><img src="/Task - 2/assets/cloud-sunny.png" alt="">
                                </div>
                                <div class="cloudname">
                                    <p>Cloud Hosting</p>
                                </div>
                            </div>
                            <p class="details">Cloud Hosting is a good fit for those of you who are building personal
                                websites, portfolios, blogs, and other systems</p>
                        </div>
                        <p class="price">$5.9<span class="weak">/month</span></p>
                        <button class="more">More Detail</button>
                    </div>
                    <div class="packdetail">
                        <div class="subdetail">
                            <div class="combo">
                                <div class="cloudimg"><img src="/Task - 2/assets/buildings.png" alt="">
                                </div>
                                <div class="cloudname">
                                    <p>Corporate</p>
                                </div>
                            </div>
                            <p class="details">Provides business-related hosting services, such as website or management
                                systems for companies</p>
                        </div>
                        <p class="price">$19<span class="weak">/month</span></p>
                        <button class="more">More Detail</button>
                    </div>
                    <div class="packdetail">
                        <div class="subdetail">
                            <div class="combo">
                                <div class="cloudimg">
                                    <img src="/Task - 2/assets/driver.png" alt="">
                                </div>
                                <div class="cloudname">
                                    <p>Cloud VPS</p>
                                </div>
                            </div>
                            <p class="details">A scalable, fully-managed virtual private server we build and optimize
                                specifically for your website.</p>
                        </div>
                        <p class="price">$29<span class="weak">/month</span></p>
                        <button class="more">More Detail</button>
                    </div>
                    <div class="packdetail">
                        <div class="subdetail">
                            <div class="combo">
                                <div class="cloudimg">
                                    <img src="/Task - 2/assets/monitor-mobbile.png" alt="">
                                </div>
                                <div class="cloudname">
                                    <p>Dedicated</p>
                                </div>
                            </div>
                            <p class="details">Your mission-critical website requires the performance and security of a
                                dedicated physical server.</p>
                        </div>
                        <p class="price">$119<span class="weak">/month</span></p>
                        <button class="more">More Detail</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="fifth-part">
                <div class="cmb">
                    <div class="options">
                        <div class="opti active" onclick="changeContant(event, 'WordPress')">Wordpress</div>
                        <div class="opti" onclick="changeContant(event, 'Magento')">Magento</div>
                        <div class="opti" onclick="changeContant(event, 'Laravel')">Laravel</div>
                        <div class="opti" onclick="changeContant(event, 'PHP')">PHP</div>
                    </div>
                    <div class="all">
                    <div id="WordPress" class="theirDetails">
                        <div class="maintt">
                            <p>The Best Managed Cloud Hosting for Wordpress</p>
                        </div>
                        <div class="subtt">
                            <p>We live and breathe WordPress. Our managed hosting for WordPress and WooCommerce takes
                                away cloud server related hassles so you can scale your website the way you want.</p>
                        </div>
                        <div class="opts">
                            <div class="cb1">
                                <img class="i1" src="/Task - 2/assets/Vector.png" alt="">
                                <p class="unli">Unlimited Bandwidth</p>
                                <img class="i2" src="/Task - 2/assets/Vector.png" alt="">
                                <p class="net">Network Speed</p>
                            </div>

                            <div class="cb2">
                                <img class="i1" src="/Task - 2/assets/Vector.png" alt="">
                                <p class="unli2">Turbo Power</p>
                                <img class="i2" src="/Task - 2/assets/Vector.png" alt="">
                                <p class="net">Xtreme Freedom</p>
                            </div>
                        </div>
                        <button class="more-dt">More Detail</button>
                    </div>

                    <div id="Magento" class="theirDetails">
                        <div class="maintt">
                            <p>Magento is an open-source e-commerce platform written in PHP</p>
                        </div>
                        <div class="subtt">
                            <p>Magento is a platform with built-in PHP, which helps programmers create eCommerce websites. It was released on March 31, 2008, by letien and developed on Zend Framework.</p>
                        </div>
                        <div class="opts">
                            <div class="cb1">
                                <img class="i1" src="/Task - 2/assets/Vector.png" alt="">
                                <p class="unli">Unlimited Bandwidth</p>
                                <img class="i2" src="/Task - 2/assets/Vector.png" alt="">
                                <p class="net">Network Speed</p>
                            </div>

                            <div class="cb2">
                                <img class="i1" src="/Task - 2/assets/Vector.png" alt="">
                                <p class="unli2">Turbo Power</p>
                                <img class="i2" src="/Task - 2/assets/Vector.png" alt="">
                                <p class="net">Xtreme Freedom</p>
                            </div>
                        </div>
                        <button class="more-dt">More Detail</button>
                    </div>

                    <div id="Laravel" class="theirDetails">
                        <div class="maintt">
                            <p>Laravel is a web application framework with expressive, elegant syntax</p>
                        </div>
                        <div class="subtt">
                            <p>Laravel values beauty. We love clean code just as much as you do. Simple, elegant syntax puts amazing functionality at your fingertips.</p>
                        </div>
                        <div class="opts">
                            <div class="cb1">
                                <img class="i1" src="/Task - 2/assets/Vector.png" alt="">
                                <p class="unli">Unlimited Bandwidth</p>
                                <img class="i2" src="/Task - 2/assets/Vector.png" alt="">
                                <p class="net">Network Speed</p>
                            </div>

                            <div class="cb2">
                                <img class="i1" src="/Task - 2/assets/Vector.png" alt="">
                                <p class="unli2">Turbo Power</p>
                                <img class="i2" src="/Task - 2/assets/Vector.png" alt="">
                                <p class="net">Xtreme Freedom</p>
                            </div>
                        </div>
                        <button class="more-dt">More Detail</button>
                    </div>

                    <div id="PHP" class="theirDetails">
                        <div class="maintt">
                            <p>PHP is a general-purpose scripting language geared towards web development</p>
                        </div>
                        <div class="subtt">
                            <p>It was originally created by Danish-Canadian programmer Rasmus Lerdorf in 1993 and released in 1995. The PHP reference implementation is now produced by the PHP Group.</p>
                        </div>
                        <div class="opts">
                            <div class="cb1">
                                <img class="i1" src="/Task - 2/assets/Vector.png" alt="">
                                <p class="unli">Unlimited Bandwidth</p>
                                <img class="i2" src="/Task - 2/assets/Vector.png" alt="">
                                <p class="net">Network Speed</p>
                            </div>

                            <div class="cb2">
                                <img class="i1" src="/Task - 2/assets/Vector.png" alt="">
                                <p class="unli2">Turbo Power</p>
                                <img class="i2" src="/Task - 2/assets/Vector.png" alt="">
                                <p class="net">Xtreme Freedom</p>
                            </div>
                        </div>
                        <button class="more-dt">More Detail</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="sixth-part">
                <div class="name-arr">
                    <div class="nameoftest">
                        <p>How Our Customers Feel About Us</p>
                    </div>
                    <div class="arroftest">
                        <div >
                            <img class="ar2" id="pre" src="/Task - 2/assets/arrow-right.png" alt="">
                        </div>
                        <div >
                            <img class="ar1" id="next" src="/Task - 2/assets/arrow-right.png" alt="">
                        </div>
                        
                    </div>
                </div>

                <div class="hero" id="scrollRow">
                    <div class="main">
                        <div class="subdiv">
                            <img class="subimg" src="/Task - 2/assets/profile.png" alt="">
                            <div class="orangestar">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                            </div>
                            <div class="subpdiv">
                                <p class="subp1">Thanks to the Awan Hoster, I was guided step-by-step until it was
                                    finished
                                </p>
                                <p class="subp2">Guy Hawkins</p>
                                <p class="subp3">Manager</p>
                            </div>
                        </div>
                    </div>

                    <div class="main">
                        <div class="subdiv">
                            <img class="subimg" src="/Task - 2/assets/profile.png" alt="">
                            <div class="orangestar">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                            </div>
                            <div class="subpdiv">
                                <p class="subp1">Thanks to the Awan Hoster, I was guided step-by-step until it was
                                    finished
                                </p>
                                <p class="subp2">Guy Hawkins</p>
                                <p class="subp3">Manager</p>
                            </div>
                        </div>
                    </div>

                    <div class="main">
                        <div class="subdiv">
                            <img class="subimg" src="/Task - 2/assets/profile.png" alt="">
                            <div class="orangestar">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                            </div>
                            <div class="subpdiv">
                                <p class="subp1">Thanks to the Awan Hoster, I was guided step-by-step until it was
                                    finished
                                </p>
                                <p class="subp2">Guy Hawkins</p>
                                <p class="subp3">Manager</p>
                            </div>
                        </div>
                    </div>

                    <div class="main">
                        <div class="subdiv">
                            <img class="subimg" src="/Task - 2/assets/profile.png" alt="">
                            <div class="orangestar">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                            </div>
                            <div class="subpdiv">
                                <p class="subp1">Thanks to the Awan Hoster, I was guided step-by-step until it was
                                    finished
                                </p>
                                <p class="subp2">Guy Hawkins</p>
                                <p class="subp3">Manager</p>
                            </div>
                        </div>
                    </div>

                    <div class="main">
                        <div class="subdiv">
                            <img class="subimg" src="/Task - 2/assets/profile.png" alt="">
                            <div class="orangestar">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                            </div>
                            <div class="subpdiv">
                                <p class="subp1">Thanks to the Awan Hoster, I was guided step-by-step until it was
                                    finished
                                </p>
                                <p class="subp2">Guy Hawkins</p>
                                <p class="subp3">Manager</p>
                            </div>
                        </div>
                    </div>

                    <div class="main">
                        <div class="subdiv">
                            <img class="subimg" src="/Task - 2/assets/profile.png" alt="">
                            <div class="orangestar">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                            </div>
                            <div class="subpdiv">
                                <p class="subp1">Thanks to the Awan Hoster, I was guided step-by-step until it was
                                    finished
                                </p>
                                <p class="subp2">Guy Hawkins</p>
                                <p class="subp3">Manager</p>
                            </div>
                        </div>
                    </div>

                    <div class="main">
                        <div class="subdiv">
                            <img class="subimg" src="/Task - 2/assets/profile.png" alt="">
                            <div class="orangestar">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                                <img src="/As-1/s.svg" alt="">
                            </div>
                            <div class="subpdiv">
                                <p class="subp1">Thanks to the Awan Hoster, I was guided step-by-step until it was
                                    finished
                                </p>
                                <p class="subp2">Guy Hawkins</p>
                                <p class="subp3">Manager</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="seventh-part-bg">
        <div class="container">
            <div class="seventh-part">
                <div class="fortxt">
                    <div class="fortxt1">
                        <p>Tru It Now and Stop Doubting Anything Else</p>
                    </div>
                    <div class="fortxt2">
                        <p>With Awan Hoster's Money Back Guarantee, you can try the best service reliability</p>
                    </div>
                    <div class="fortxt3">
                        <button class="freetry">Start Free Trial</button>
                        <button class="seeplan">See All Plans</button>
                    </div>
                </div>
                <div class="forpic">
                    <img class="group" src="/Task - 2/assets/Group 1000008788.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="eighth-part-bg">
        <div class="container">
            <div class="eighth-part">
                <div class="left-ft">
                    <div class="whiteLogo">
                        <img src="/Task - 2/assets/logo-white.png" alt="">
                    </div>
                    <div class="ft-text">
                        <p>We provide you with the best hosting solutions for your website.</p>
                    </div>
                    <div class="icons">
                        <i class="fa fa-facebook-f fff" style="font-size:24px; color: white;"></i>
                        <i class="fa fa-twitter fff" style="font-size:24px; color: white;"></i>
                        <i class="fa fa-instagram fff" style="font-size:24px; color: white;"></i>
                        <i class="fa fa-youtube-play fff" style="font-size:24px; color: white;"></i>
                        <i class="fab fa-discord fff" style="font-size:24px; color: white;"></i>
                    </div>
                </div>
                <div class="right-ft">
                    <div class="company">
                        <p class="earth">Company</p>
                        <p class="cont1">About</p>
                        <p class="cont1">Blog</p>
                        <p class="cont1">Leadership</p>
                        <p class="cont1">Careers</p>
                        <p class="cont1">Legal</p>
                    </div>
                    <div class="product">
                        <p class="earth">Product</p>
                        <p class="cont2">API</p>
                        <p class="cont2">Pricing</p>
                        <p class="cont2">Documentation</p>
                        <p class="cont2">Release Notes</p>
                    </div>
                    <div class="content">
                        <p class="earth">Contact</p>
                        <p class="cont3">Support</p>
                        <p class="cont3">Sales</p>
                        <p class="cont3">Report Abuse</p>
                        <p class="cont3">System Status</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>

function changeContant(event, language) {

// let a = document.getElementsByClassName("opti");
// for(let i=0; i<a.length; i++) {
//     a[i].style.opacity = "0.5";
// }

let x = document.getElementsByClassName("theirDetails");
for(let i=0; i<x.length; i++) {
    x[i].style.display = "none";
}

let selected = language;
document.getElementById(selected).style.display = "block";
// event.currentTarget.className +="active";
// document.getElementsByClassName(selected)[0].style.opacity = "1";
}


let btn=document.getElementById("next");
let btn1=document.getElementById("pre");

btn.addEventListener("click",scroll);
btn1.addEventListener("click",scroll);


function scroll() {
    let direction = event.target.id;

    let row = document.getElementById("scrollRow");
    if(direction=="next") {
        row.scrollLeft+=250;
    }else {
        row.scrollLeft-=250;
    }
}
    </script>
</body>

</html>