<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1st Feb Table</title>
</head>
<style>
    tr:nth-child(even) td:nth-child(odd),
    tr:nth-child(odd) td:nth-child(even) {
        background-color: #8ec3eb;
    }

    tr:nth-child(odd) td:nth-child(odd),
    tr:nth-child(even) td:nth-child(even) {
        background-color: #2a6592;
    }

    .btn {
        height: 40px;
        width: 40px;
        border: 2px solid black;
        border-radius: 10px;
        font-size: 10px;
    }

    .maint {
        display: flex;
        margin-left: 280px;
    }

    .sidet {
        display: flex;
        padding-left: 25px;
    }

    .bellowt {
        display: flex;
        margin-left: 290px;
    }

    h1 {
        text-align: center;
    }
</style>

<body>
    <h1>Dharm Patel</h1>
    <h1>1st Feb 2024</h1>
    <h1>Employee Id - 24DEV012</h1>
    <br><br><br>
    <div class="maint">
        <table border="1" cellpadding="45px" id="mytable">
            <tr class="line1">
                <td class="colo1"></td>
                <td class="colo2"></td>
            </tr>

            <tr class="line2">
                <td class="colo2"></td>
                <td class="colo1"></td>
            </tr>
        </table>
        <div class="sidet">
            <button class="btn" onclick="addcol()">Col +</button>
            &nbsp;
            <button class="btn" onclick="delcol()">Col -</button>
        </div>
    </div>
    <br>
    <div class="bellowt">
        <button class="btn" onclick="addrow()">Row +</button>
        &nbsp;
        <button class="btn" onclick="delrow()">Row -</button>
    </div>

    <script>
        function addrow() {
            var table = document.getElementById("mytable");
            var cols = table.rows[0].cells.length;
            var row = table.insertRow(table.rows.length);
            for (var i = 0; i < cols; i++) {
                var cell = row.insertCell(i);
            }
        }

        function delrow() {
            var mytable = document.getElementById("mytable");
            var rows = mytable.rows.length;

            if (mytable.rows.length > 2) {
                mytable.deleteRow(rows - 1);
            }
        }

        function addcol() {
            var table = document.getElementById("mytable");
            var rws = table.rows;
            var cols = table.rows[0].cells.length;
            for (var i = 0; i < rws.length; i++) {
                var cell = rws[i].insertCell(cols);
            }
        }

        function delcol() {
            var mytable = document.getElementById("mytable");
            var rowcount = mytable.rows.length;
            let columns = mytable.rows[0].cells.length;
            if(columns > 2) {
                for(var i = 0; i< rowcount; i++) {
                mytable.rows[i].deleteCell(-1); 
                }
            }
        }
    </script>
</body>

</html>