<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ehya</title>
    <link rel="stylesheet" href="/ehya_CSS_One.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <section>
        <div class="container">
            <nav class="titlebar">
                <div class="logo">
                    <img src="/Task - 1/Logo.svg" alt="logo">
                </div>
                <div class="titles">
                    <!-- <ul class="ullis"> -->
                    <li class="lists">Home</li>
                    <li class="lists">Landings</li>
                    <li class="lists">Pages</li>
                    <li class="lists">Docs</li>
                    <li class="lists">Help</li>
                    <!-- </ul> -->
                    <div class="titbtn">Get it now</div>
                </div>
            </nav>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="first-part">
                <div class="fp-col-1">
                    <img src="/Task - 1/Hero.png" alt="">
                </div>
                <div class="fp-col-2">
                    <p class="txt1">Make your new life happier.</p>
                    <p class="txt2">We work with several leading insurance companies to secure insurance coverages
                        tailored
                        to meet your needs.</p>
                    <div class="consult">Get a Consultation</div>
                </div>
            </div>
        </div>
    </section>

    <section class="second">
        <div class="container">
            <div class="second-part">
                <p class="service-text-1">OUR SERVICES</p>
                <p class="service-text-2">Insurance made simple for you</p>
                <p class="service-text-3">We work with several leading insurance companies to secure insurance coverages
                    tailored to meet your needs.</p>
                <div class="tick">
                    <span class="tick-text_i">&#9989;</span>
                    <p class="tick-text">Flexible products to make your life easier</p>
                    <span class="tick-text_i">&#9989;</span>
                    <p class="tick-text">Highest standards of service</p>
                    <span class="tick-text_i">&#9989;</span>
                    <p class="tick-text">Fast and reliable service</p>
                </div>
                <div class="boxes">
                    <div class="box">
                        <div class="home"><img class="homeimg" src="/Task - 1/Icon_Home.svg" alt=""></div>
                        <p class="homeins">Home insurance</p>
                        <p class="homedisc">Home insurance is a type of insurance policy that provides cover for your
                            home.
                        </p>
                        <div class="lmd">
                            <p class="homemore">Learn more</p>
                            <span class="homemore_i">&#10132;</span>
                        </div>
                    </div>

                    <div class="box">
                        <div class="life"><img class="lifeimg" src="/Task - 1/Icon_Blood_Donation.svg" alt="">
                        </div>
                        <p class="lifeins">Life insurance</p>
                        <p class="lifedisc">Helping you bridge gaps in your health care coverage during times of
                            transition.
                        </p>
                        <div class="lmd">
                            <p class="homemore">Learn more</p>
                            <span class="homemore_i">&#10132;</span>
                        </div>
                    </div>

                    <div class="box">
                        <div class="car"><img class="carimg" src="/Task - 1/Icon_Car.svg" alt="">
                        </div>
                        <p class="carins">Car insurance</p>
                        <p class="cardisc">Car insurance is a type of insurance policy that provides cover for your car.
                        </p>
                        <div class="lmd">
                            <p class="homemore">Learn more</p>
                            <span class="homemore_i">&#10132;</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="third-part">
                <p class="tips">OUR TIPS FOR YOU</p>
                <p class="protection">Reinventing your protection</p>
                <p class="share">We share common trends, strategies ideas, opinions, short & long stories from the team
                    behind company.</p>

                <div class="momimg">
                    <div class="mom1">
                        <p class="text1">How to prevent and protect your family from Carbon monoxide</p>
                        <!-- <img class="mom1-1" src="/Task - 1/Image.png" alt=""> -->
                    </div>

                    <div class="mom2">
                        <p class="text2">Motherhood is the hardest and the best job ever</p>
                        <!-- <img class="mom2-1" src="/Task - 1/Image2.png" alt=""> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="forth-part">
                <div class="f1">
                    <p class="benefi">YOUR BENEFITS</p>
                    <p class="advo">We're your rigth insurance advocate</p>
                </div>

                <div class="f2">
                    <div class="donation">
                        <img class="donaimg" src="/Task - 1/Donation.svg" alt="">
                    </div>
                    <p class="heading">We have the best prices</p>
                    <p class="sub">Our insurance plans offers are priced the same everywhere else. We just make them
                        easier
                        for you to find.</p>
                </div>
                <div class="f3">
                    <div class="donation">
                        <img class="protect" src="/Task - 1/Icon_Protection.svg" alt="">
                    </div>
                    <p class="heading">We're your insurance advocate</p>
                    <p class="sub">We will deal with the insurance companies for you, even after you've bought your
                        plan.
                    </p>
                </div>
                <div class="half">
                    <div class="f4">
                        <div class="donation">
                            <img class="bia" src="/Task - 1/Icon_Neutron.svg" alt="">
                        </div>
                        <p class="heading">We're unbiased</p>
                        <p class="sub">Our online tools help you decide what product is best for you. we're here to
                            insurance plan you choose.</p>
                    </div>
                    <div class="f5">
                        <div class="donation">
                            <img class="cc" src="/Task - 1/Icon_CS.svg" alt="">
                        </div>
                        <p class="heading">We're available 24/7</p>
                        <p class="sub">We have your back 24/7 between our online chat function, email and telephone
                            support.
                        </p>
                    </div>
                    <div class="f6">
                        <div class="donation">
                            <img class="like" src="/Task - 1/Icon_Like.svg" alt="">
                        </div>
                        <p class="heading">We make insurance simple</p>
                        <p class="sub">We're committed to making applying for insurance as simple as can be for our
                            customers.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr>
    <section>
        <div class="container">
            <div class="last">
                <div class="la1">
                    <div class="la-img-1">
                        <img class="av1" src="/Task - 1/Avatar-2.png" alt="">
                        <img class="av2" src="/Task - 1/Avatar-1.png" alt="">
                        <img class="av2" src="/Task - 1/Avatar.png" alt="">
                    </div>
                    <p class="ldisc"><span class="strong">Friendly</span> customer support team</p>
                </div>
                <div class="la2">
                    <div class="tru">
                        <img class="starimg" src="/Task - 1/Path.svg" alt="">
                        <p class="pilot">Trustpilot</p>
                    </div>
                    <div class="orangestar">
                        <img src="/Task - 1/s.svg" alt="">
                        <img src="/Task - 1/s.svg" alt="">
                        <img src="/Task - 1/s.svg" alt="">
                        <img src="/Task - 1/s.svg" alt="">
                        <img src="/Task - 1/s.svg" alt="">
                    </div>
                    <p class="ldisc2"><span class="strong">4.6 out of 5 stars</span> from 8.6k reviews</p>
                </div>
                <div class="la3">
                    <img class="llk" src="/Task - 1/Icon_Like.svg" alt="">
                    <p class="ldisc3">We are making <span class="strong">insurance as simple as </span>can be</p>
                </div>
            </div>
    </section>

    <section class="footer-bg">
        <div class="container">
            <div class="footer">
                <div class="ft1">
                    <img class="ftimg" src="/Task - 1/Logo_white.svg" alt="">
                    <p class="fttext">Build a modern and creative website with crealand</p>
                    <div class="social">
                        <i class="fa fa-google sos" style="font-size:30px"></i>
                        <i class="fa fa-twitter sos" style="font-size:30px"></i>
                        <i class="fa fa-instagram sos" style="font-size:30px"></i>
                        <i class="fa fa-linkedin-square sos" style="font-size:30px"></i>
                        <i class="fa fa-youtube-play sos" style="font-size:30px"></i>
                    </div>
                </div>
                <div class="ft2">
                    <p class="ftlst">Ready to get insured? Submit your request and hear back as soon as tomorrow</p>
                    <div class="ftinp">
                        <div class="yremail">
                            <input type="text" placeholder=" Your Email">
                        </div>
                        <div class="yremail2">Get started</div>
                    </div>

                </div>
                <p class="copy">
                    Copyright &copy; 2019. Crafted with love.
                </p>
            </div>
        </div>
    </section>
</body>

</html>