<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regenerate Link</title>
    <style>
        body {
            font-family: codewell, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
            background-color: #C1CDF5;
        }

        .btnClass {
            text-align: center;
        }

        .btn {
            width: 20%;
            height: 35px;
            font-size: medium;
            background-color: #4169E1;
            border: none;
            cursor: pointer;
            border-radius: 7px;
            margin-bottom: 20px;

        }

        .btn:hover {
            background-color: #2a5aeb;
        }
        #div {
            margin-top: 400px;
            margin-left: 500px;

        }
    </style>
</head>

<body>
    <form id="reg">

        <div id="div">
            <span id="black"></span><a id="msg" name="acti"></a>
        </div>

        <br>
        <div class="btnClass">
            <input type="submit" class="btn" value="Regenerate Link">
        </div>
    </form>

    <script>
        function randomStr(len, arr) {
            let ans = '';
            for (let i = len; i > 0; i--) {
                ans += arr[(Math.floor(Math.random() * arr.length))];
            }
            const urlParams = new URLSearchParams(window.location.search);
            const email = urlParams.get('email');
            console.log(email);
            // var email = document.getElementById('email').value;
            document.getElementById('black').innerHTML = "Click on this link for Activation: ";
            document.getElementById('msg').innerHTML = "http://localhost:8090/regenerated/" + email;
            document.getElementById('msg').setAttribute('href', '/regenerated/?email=' + email);
        }

        document.getElementById('reg').addEventListener('submit', (event) => {
            event.preventDefault();
            let form = document.getElementById('reg');
            let form_data = new FormData(form);

            const xhr = new XMLHttpRequest();
            xhr.open('POST', '/submit', true);
            xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

            xhr.onload = function () {
                if (this.status == 200) {
                    console.log(this.responseText);
                }
            }
            xhr.send(new URLSearchParams(form_data));

            randomStr(12, '12345abcde');
        });
    </script>
</body>

</html>