<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HireX.</title>
    <link rel="stylesheet" href="/hire_CSS_Three.css">
</head>

<body>
    <header>
        <div class="container">
            <nav class="titlebar">
                <div class="logo">
                    <img class="logo-img" src="/Task - 3/assets/HireX_black.png" alt="logo">
                </div>
                <div class="titles">
                    <div class="list">
                        <li class="lists">Works</li>
                        <li class="lists">About Us</li>
                        <li class="lists">Blogs</li>
                        <li class="lists">FAQs</li>
                        <li class="lists">Contact Us</li>
                    </div>
                    <div class="hirebtn">
                        <button class="hire">We're Hiring <img class="arrow" src="/Task - 3/assets/arrow-right.png"
                                alt="">
                        </button>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <section class="first-part-bg">
        <div class="container">
            <div class="first-part">
                <div class="first-left">
                    <p class="first-txt1">WELCOME TO HIREX. <img class="image1" src="/Task - 3/assets/Star 1.png"
                            alt=""></p>
                    <p class="first-txt2">Award Winning Digital Agency.</p>
                    <p class="first-txt3">Digital Agency offering unique solutions to create digital presence and
                        increse your sales.</p>
                    <div class="first-txt4">
                        <div class="yourEm">Your email address</div>
                        <div class="request">Request access</div>
                    </div>
                    <div class="first-txt5">
                        <p class="dialog">Open account and get 5 boxes </p>
                    </div>
                </div>

                <div class="first-right">
                    <div class="first-img1">
                        <img class="tir" src="/Task - 3/assets/image 2 (Traced).png" alt="">
                        <p class="cir1">Web Design</p>
                    </div>
                    <div class="first-img2">
                        <img class="tir1" src="/Task - 3/assets/image 6 (Traced).png" alt="">
                        <p class="cir2">Social Media</p>
                    </div>
                    <img class="new" src="/Task - 3/assets/Group 6.png" alt="">
                    <div class="first-img3">
                        <p class="cir3">UIX Design</p>
                        <img class="tir2" src="/Task - 3/assets/image 1 (Traced).png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="second-part-bg">
        <div class="container">
            <div class="second-part">
                <marquee width="100%" direction="left" height="100px">
                    <div class="sss">
                        <div class="get1">
                            <div class="subcont">
                                <p class="getText">GET ACCESS NOW!</p>
                                <img src="/Task - 3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                            </div>
                        </div>
                        <hr>
                        <div class="get2">
                            <div class="subcont">
                                <p class="getText">GET ACCESS NOW!</p>
                                <img src="/Task - 3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                            </div>
                        </div>
                        <hr>
                        <div class="get3">
                            <div class="subcont">
                                <p class="getText">GET ACCESS NOW!</p>
                                <img src="/Task - 3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                            </div>
                        </div>
                        <hr>
                        <div class="get3">
                            <div class="subcont">
                                <p class="getText">GET ACCESS NOW!</p>
                                <img src="/Task - 3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                            </div>
                        </div>
                        <hr>
                        <div class="get3">
                            <div class="subcont">
                                <p class="getText">GET ACCESS NOW!</p>
                                <img src="/Task - 3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                            </div>
                        </div>
                        <hr>
                        <div class="get3">
                            <div class="subcont">
                                <p class="getText">GET ACCESS NOW!</p>
                                <img src="/Task - 3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                            </div>
                        </div>
                        <hr>
                        <div class="get3">
                            <div class="subcont">
                                <p class="getText">GET ACCESS NOW!</p>
                                <img src="/Task - 3/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                            </div>
                        </div>
                    </div>
                </marquee>
            </div>
        </div>
    </section>

    <section class="third-part-bg">
        <div class="container">
            <div class="third-part">
                <div class="intro">
                    <p class="service">Services</p>
                    <p class="how">How HireX. Work</p>
                    <p class="awesome">The awesome people who makes all this possible</p>
                </div>
                <div class="pics">
                    <div class="start">
                        <p class="here">START HERE</p>
                        <p class="who">Who we are & what we do</p>
                        <img src="/Task - 3/assets/Designer _Flatline 1.png" alt="" class="coffee">
                        <p class="stbtn">START HERE <img class="arrow2" src="/Task - 3/assets/arrow-right.png"
                                alt=""></p>
                    </div>
                    <div class="custom">
                        <p class="here">CUSTOM DESIGN</p>
                        <p class="who">We'll design your projects</p>
                        <img src="/Task - 3/assets/Notifications_Flatline 1.png" alt="" class="coffee">
                        <p class="stbtn2">START HERE <img class="arrow2" src="/Task - 3/assets/arrow-right-black.png"
                                alt=""></p>
                    </div>
                    <div class="cont">
                        <p class="here">CONTACT US</p>
                        <p class="who">Drop us your message!</p>
                        <img src="/Task - 3/assets/Fortnite_Two Color 1.png" alt="" class="coffee">
                        <p class="stbtn3">START HERE <img class="arrow2" src="/Task - 3/assets/arrow-right-black.png"
                                alt=""></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="forth-part-bg">
        <div class="container">
            <div class="forth-part">
                <div class="fashion">
                    <p class="work">Works</p>
                    <p class="find">Find our latest works</p>
                    <p class="awesome">The awesome people who makes all this possible</p>
                </div>
                <div class="arts">
                    <div class="art1">
                        <img src="/Task - 3/assets/Rectangle 13.png" alt="" class="photo">
                        <p class="a1">Web Design</p>
                        <p class="a2">Website Design For Digital Agency</p>
                        <p class="a3">Build a unique Website with HireX Template</p>
                        <div class="botom">
                            <p class="a4">Read more <img class="arrow3" src="/Task - 3/assets/arrow-right-black.png"
                                    alt=""></p>
                        </div>
                    </div>
                    <div class="art2">
                        <img src="/Task - 3/assets/Rectangle 13-1.png" alt="" class="photo2">
                        <p class="a1">3D Design</p>
                        <p class="a2">Realistic 3d Model of Living Room</p>
                        <p class="a3">Build a unique Website with HireX Template</p>
                        <div class="botom">
                            <p class="a4">Read more <img class="arrow3" src="/Task - 3/assets/arrow-right-black.png"
                                    alt=""></p>
                        </div>
                        <p class="stbtn4">View All <img class="arrow2" src="/Task - 3/assets/arrow-right-black.png"
                                alt=""></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="fifth-part-bg">
        <div class="container">
            <div class="fifth-part">
                <div class="disc">
                    <p class="pricing">Plans & Pricing</p>
                    <p class="awesome">The awesome people who makes all this possible</p>
                </div>
                <div class="plans">
                    <div class="plan1">
                        <p class="free">FREE</p>
                        <p class="dollar">$0<span class="month">/MONTH</span></p>
                        <p class="dis">Start free while you learn more about our services</p>
                        <hr class="dyna">
                        <div class="combo1">
                            <span class="check">&#x2713;</span>
                            <p class="t1">Free forever get the basic essentials</p>
                        </div>
                        <div class="combo1">
                            <span class="check">&#x2713;</span>
                            <p class="t1">Advanced security and performance</p>
                        </div>
                        <div class="combo1">
                            <span class="check">&#x2713;</span>
                            <p class="t1">Unlimited unhosted sites</p>
                        </div>
                        <div class="combo1">
                            <span class="check">&#x2713;</span>
                            <p class="t1">Live support</p>
                        </div>
                        <p class="getStarted">GET STARTED</p>
                    </div>
                    <div class="plan2">
                        <p class="free">BASIC</p>
                        <p class="dollar">$19<span class="month">/MONTH</span></p>
                        <p class="dis">Get powerful tools to make your business grow</p>
                        <hr class="dyna">
                        <div class="combo1">
                            <span class="check">&#x2713;</span>
                            <p class="t1">Free forever get the basic essentials</p>
                        </div>
                        <div class="combo1">
                            <span class="check">&#x2713;</span>
                            <p class="t1">Advanced security and performance</p>
                        </div>
                        <div class="combo1">
                            <span class="check">&#x2713;</span>
                            <p class="t1">Unlimited unhosted sites</p>
                        </div>
                        <div class="combo1">
                            <span class="check">&#x2713;</span>
                            <p class="t1">Live support</p>
                        </div>
                        <p class="getStarted2">GET STARTED</p>
                    </div>
                    <div class="plan3">
                        <p class="free">PRO</p>
                        <p class="dollar">$99<span class="month">/MONTH</span></p>
                        <p class="dis">Take your business to the next level with our tools</p>
                        <hr class="dyna">
                        <div class="combo1">
                            <span class="check">&#x2713;</span>
                            <p class="t1">Free forever get the basic essentials</p>
                        </div>
                        <div class="combo1">
                            <span class="check">&#x2713;</span>
                            <p class="t1">Advanced security and performance</p>
                        </div>
                        <div class="combo1">
                            <span class="check">&#x2713;</span>
                            <p class="t1">Unlimited unhosted sites</p>
                        </div>
                        <div class="combo1">
                            <span class="check">&#x2713;</span>
                            <p class="t1">Live support</p>
                        </div>
                        <p class="getStarted3">GET STARTED</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="sixth-part-bg">
        <div class="container">
            <div class="sixth-part">
                <div class="left" onclick="pre()">
                    <img src="/Task - 3/assets/arrow-left-2.png" alt="">
                </div>
                <div class="bhuro">
                    <img class="bhuroImg" src="/Task - 3/assets/testimonials-img.png" alt="">

                    <div class="above">@mase.place <div class="uparr"><img class="upimg"
                                src="/Task - 3/assets/arrow_top-right.png" alt=""></div>
                    </div>
                </div>
                <div class="main">
                    <div class="bhuroTxt">
                        <p class="bhuroTxt1">"We select to practice in Minerva since it is both useful, and our clients
                            basically adore it! It has stood the test of time and proceeds"</p>
                        <p class="bhuroTxt2">Abel Carden is a TikTok personality and lip-sync content who has built a
                            fanbase of more than 3.2 million followers on the platform.</p>
                    </div>

                    <div class="bhuroTxt">
                        <p class="bhuroTxt1">DharmLorem ipsum dolor sit amet, consectetur adipisicing elit. Labore id
                            aliquam ipsam, ratione dolorum accusamus magnam doloribus asperiores sapiente perferendis
                            animi magni quia reprehenderit nemo suscipit delectus eveniet tempore. Possimus!</p>
                        <p class="bhuroTxt2">Abel Carden is a TikTok personality and lip-sync content who has built a
                            fanbase of more than 3.2 million followers on the platform.</p>
                    </div>

                    <div class="bhuroTxt">
                        <p class="bhuroTxt1">"Shivam We select to practice in Minerva since it is both useful, and our
                            clients
                            basically adore it! It has stood the test of time and proceeds"</p>
                        <p class="bhuroTxt2">Abel Carden is a TikTok personality and lip-sync content who has built a
                            fanbase of more than 3.2 million followers on the platform.</p>
                    </div>
                    <div class="bhuroTxt">
                        <p class="bhuroTxt1">"Jil We select to practice in Minerva since it is both useful, and our
                            clients
                            basically adore it! It has stood the test of time and proceeds"</p>
                        <p class="bhuroTxt2">Abel Carden is a TikTok personality and lip-sync content who has built a
                            fanbase of more than 3.2 million followers on the platform.</p>
                    </div>
                </div>
                <div class="right" onclick="next()">
                    <img src="/Task - 3/assets/arrow-right-2.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="seventh-part-bg">
        <div class="container">
            <div class="seventh-part">
                <div class="pop">
                    <div class="pop1">
                        <p class="blog">Blog</p>
                        <p class="stay">Stay updated</p>
                        <img class="pop1-img" src="/Task - 3/assets/Rectangle 19.png" alt="">
                        <p class="a1">Web Design</p>
                        <p class="a2">We Launch Minerva Template this week!</p>
                        <p class="a3">Build a unique Website with HireX Template</p>
                        <div class="botom">
                            <p class="a4">Read more <img class="arrow3" src="/Task - 3/assets/arrow-right-black.png"
                                    alt=""></p>
                        </div>
                    </div>
                    <div class="pop2">
                        <img class="pop2-img" src="/Task - 3/assets/Rectangle 20.png" alt="">
                        <p class="a1">Web Design</p>
                        <p class="a2">Introducing the Non-Code Webflow Guid</p>
                        <p class="a3">Build a unique Website with HireX Template</p>
                        <div class="botom">
                            <p class="a4">Read more <img class="arrow3" src="/Task - 3/assets/arrow-right-black.png"
                                    alt=""></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="eighth-part-bg">
        <div class="container">
            <div class="eighth-part">
                <div class="ydivs">
                    <div class="y1">
                        <p class="get">Get our latests news & updates</p>
                        <button class="name">NAME</button>
                        <hr class="yhr">
                        <button class="name">EMAIL</button>
                        <hr class="yhr">
                        <button class="sub">SUBSCRIBE <img class="yimg" src="/Task - 3/assets/arrow-right-black.svg"
                                alt=""></button>
                        <hr class="yhr">
                    </div>
                    <div class="y2">
                        <p class="book1">We select to practice in Minerva since it is both useful and commonsense, and
                            our clients basically adore it</p>
                        <p class="book2">Book a Call</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ninth-part-bg">
        <div class="container">
            <div class="ninth-part">
                <marquee width="1440px" direction="left" height="100px">
                    <div class="sss">
                        <div class="get1">
                            <div class="subcont">
                                <p class="getText">THANK YOU FOR YOUR VISIT</p>
                                <img class="iim" src="/Task - 3/assets/Line 4.png" alt="">
                            </div>
                        </div>
                        <div class="get2">
                            <div class="subcont">
                                <p class="getText">THANK YOU FOR YOUR VISIT</p>
                                <img class="iim" src="/Task - 3/assets/Group 59.png" alt="">
                            </div>
                        </div>
                        <div class="get3">
                            <div class="subcont">
                                <p class="getText">THANK YOU FOR YOUR VISIT</p>
                                <img class="iim" src="/Task - 3/assets/Line 4.png" alt="">
                            </div>
                        </div>
                        <div class="get3">
                            <div class="subcont">
                                <p class="getText">THANK YOU FOR YOUR VISIT</p>
                                <img class="iim" src="/Task - 3/assets/Group 59.png" alt="">
                            </div>
                        </div>
                        <div class="get3">
                            <div class="subcont">
                                <p class="getText">THANK YOU FOR YOUR VISIT</p>
                                <img class="iim" src="/Task - 3/assets/Line 4.png" alt="">
                            </div>
                        </div>
                        <div class="get3">
                            <div class="subcont">
                                <p class="getText">THANK YOU FOR YOUR VISIT</p>
                                <img class="iim" src="/Task - 3/assets/Group 59.png" alt="">
                            </div>
                        </div>
                        <div class="get3">
                            <div class="subcont">
                                <p class="getText">THANK YOU FOR YOUR VISIT</p>
                                <img class="iim" src="/Task - 3/assets/Line 4.png" alt="">
                            </div>
                        </div>
                    </div>
                </marquee>
            </div>
        </div>
    </section>

    <section class="tenth-part-bg">
        <div class="container">
            <div class="tenth-part">
                <p class="x">HireX.</p>
                <hr class="last">
                <div class="items">
                    <div class="first">
                        <p class="first1">Products</p>
                        <p class="first2">Platform</p>
                        <p class="first2">Store Overview</p>
                        <p class="first2">Email Reports</p>
                        <p class="first2">Portfolio</p>
                    </div>
                    <div class="second">
                        <p class="second1">Resources</p>
                        <p class="second2">Case Studies</p>
                        <p class="second2">Product guides</p>
                        <p class="second2">Reports</p>
                        <p class="second2">Blog</p>
                        <p class="second2">FAQ</p>
                    </div>
                    <div class="third">
                        <p class="third1">Company</p>
                        <p class="third2">Careers</p>
                        <p class="third2">Contact Sales</p>
                        <p class="third2">Contact Support</p>
                    </div>
                    <div class="forth">
                        <p class="forth1">Partners</p>
                        <p class="forth2">Partner With Us</p>
                    </div>
                </div>

                <div class="terms">
                    <div class="term1">
                        <p class="one">Terms and Conditions</p>
                        <p class="two">Privacy Policy</p>
                    </div>
                    <p class="term2">&copy;HIREX, Inc. 2022</p>
                </div>
            </div>
        </div>
    </section>
    <script>
        var slideArray = document.getElementsByClassName("bhuroTxt");
        for (let i = 0; i < slideArray.length; i++) {
            slideArray[i].style.display = "none";
        }
        slideArray[0].style.display = "block";
        var current = 0;

        function next() {
            if (current == slideArray.length - 1) {
                current = -1;
            }
            slideRight();
        }

        function slideRight() {
            for (let i = 0; i < slideArray.length; i++) {
                slideArray[i].style.display = "none";
            }
            current++;
            slideArray[current].style.display = "block";
        }

        function pre() {
            if (current == 0) {
                current = slideArray.length;
            }
            slideLeft();
        }

        function slideLeft() {
            for (let i = 0; i < slideArray.length; i++) {
                slideArray[i].style.display = "none";
            }
            current--;
            slideArray[current].style.display = "block";
        }
    </script>
</body>

</html>