<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Password</title>
    <style>
        body {
            font-family: codewell, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
            background-color: #C1CDF5;
        }

        h1 {
            text-align: center;
            margin-top: 260px;
        }

        .main {
            font-size: large;
            border-radius: 9px;
            margin: 0px 700px;
            background-color: #859FEC;
            padding: 20px 50px;
        }

        .big {
            height: 20px;
            width: 180px;
        }

        .btnClass {
            padding: 5px 10px;
        }

        .btn {
            width: 100%;
            height: 40px;
            font-size: medium;
            background-color: #4169E1;
            border: none;
            cursor: pointer;
            border-radius: 7px;
        }

        .btn:hover {
            background-color: #2a5aeb;
        }
    </style>
</head>

<body>
    <form id="pas">
        <h1>Create Password</h1>
        <div class="main">
            <label for="">Create Password</label> <br><br>
            <input type="text" class="big" name="createpass" id="createpass">
            <br><br><br>
            <label for="">Confirm Password</label> <br><br>
            <input type="text" class="big" name="confirmpass" id="confirmpass">
            <div id="retry" style="color: red; font-size: medium;"></div>
            <br><br>
            <div class="btnClass">
                <input type="submit" class="btn" value="Submit">
            </div>
        </div>
    </form>
    <script>


        document.getElementById('pas').addEventListener('submit', (event) => {
            event.preventDefault();
            const urlParams = new URLSearchParams(window.location.search);
            const myParam = urlParams.get('email');
            console.log(myParam);
            var createpass = document.getElementById('createpass').value
            var confirmpass = document.getElementById('confirmpass').value
            if (!(createpass == confirmpass)) {
                console.log("In Condition");
                document.getElementById('retry').innerHTML = "Please enter same password!";
            } else {
                document.getElementById('retry').innerHTML = "";
                let form = document.getElementById('pas');
                let form_data = new FormData(form);

                const xhr = new XMLHttpRequest();
                xhr.open('POST', `/passwordSubmit?email=${myParam}`, true);
                // xhr.open('POST', `/passwordSubmit?email=${myParam}`, true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

                window.location.href = "http://localhost:8080/login";
                xhr.onload = function () {
                    // if (this.status == 200) {
                        //     console.log(this.responseText);
                        //     // window.location = 'login'
                        // }
                }
                xhr.send(new URLSearchParams(form_data));
            }

            // document.getElementById("form").reset(); 
        });
    </script>
</body>

</html>